body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: rgba(245, 246, 247, 0.66);
}
p {
    font-size: 18.5px;
}
.margin {margin-top: 45px;
}
.bg-1 { 
  background: url("photos/bkg6.jpg");
   background-repeat: no-repeat;
   min-height: 850px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
    z-index: 1;
  color: #ffffff;
}
.bg-2 { 
    /* background:url("photos/downloadedl.png"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgba(181, 187, 209, 0.34); /* Dark Blue */
    color: #ffffff;
    min-height: 750px;  
}
 .aboutme {
    color: black;
   margin-top: 30px;
   margin-left: 100px;
  font-family: 'PetitFormalScriptRegular'; 
   font-weight: normal; 
   font-style: normal;
  
  
}

.bio {
    padding-top: 85px;
    padding-left: 350px;
}
.bg-3 { 
background: url("photos/bkg7.jpg");
background-color: #ffffff; /* White */
color:white;
/* background-attachment: fixed; */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 800px;
}
.bg-4 { 
/* background-color: #DCEEF3; Black Gray */
background-attachment: fixed;
color: #141313;
min-height: 70px;
margin:25px;

}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    position: fixed;
    z-index: 1;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
/* h4{ */
  /* font-family: 'Libre Barcode 39 Text', cursive; */
/* } */
h1{
  color:cadetblue;
  padding-top: 150px;
font-family: 'PetitFormalScriptRegular'; 

}

img {
  box-shadow: -2px 2px 2px gray;
  z-index: 0;
  
}
h4 {
    color: #433B3B;
  font-family: 'PetitFormalScriptRegular'; 

}

.quote {
    margin-right: 350px;
    padding-top: 45px; 
   font-family: 'PetitFormalScriptRegular'; 
   font-weight: normal; 
   font-style: normal; 
}

.formButton {
    margin-top: 185px;
}
/* ganesh */

svg {
  display: block;
  font: 10.5em 'Montserrat';
  width: 460px;
  height: 100px;
  margin: 0 auto;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke:#786E71;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #25DDB9;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #CFBDBE;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #786E71;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #0772D0;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}

/* image */

.view {
    width: 300px;
    height: 300px;
    margin: 10px;
    float: right;
    margin-right: 75px;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #433B3B;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center;
    margin-top: 30px;
}
.view .mask, .view .content {
    width: 300px;
    height: 300px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view li {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12.5px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(137, 214, 210, 0.70); 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
	transition: all 0.2s ease-in-out;
}
.view-first:hover img { 
	transform: scale(1.1);
} 
.view-first:hover .mask { 
	opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}



.social {
    position: relative;
    height: 2em;
    width: 11.5em;
    margin: 80px 155px;
}

.social li {
    display:inline-block;
    height: 3.5em;
    line-height: 4em;
    margin: -2.2em;
    position: absolute;
    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform .7s;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    width: 3.5em;

}

.bg-primary {
    background-color:#7f8687 !important;
    padding: 5px;
   }
   
  /*===== contact ====*/

#contact{
margin-top:5px;

}
.contact{
    padding-top: 10px;
    background-color:  rgba(181, 187, 209, 0.34);
}

.contact .section-title{
    margin-bottom: 30px;
}

.contact .border{
    margin-bottom: 45px;

}
    
.contact .form-group{
    margin-bottom: 22px;
}

.contact .form-control {
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    color: #555;
    font-size: 13px;
    height: 45px;
    padding: 10px 15px;
    width: 100%;
}

.contact .btn{
    margin-top: 20px;
}

.contact .textarea {
    min-height: 178px;
    width: 100% ;
}

.social-links {
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 15px;
}

.social-links .fa {
    color: #01bf86 ;
    cursor: pointer;
    height: 40px;
    padding-top: 13px;
    text-align: center;
    width: 40px;
    border: 1px solid #01bf86 ;
}

.social-links .fa:hover{
    color: #ffffff;
    background-color: #496174;
    border-color: transparent;
}

@media screen and (max-width: 1105px) {
    
    .view {display: none;} 
    h4 {text-align: center;} 
    .quote { display: none;} 
    .aboutme {margin-left: -390px;}  
}

   